@import "tailwindcss";

/* Light mode (default) */
:root {
    /* Colors */
    --color-primary: #e9b935;
    --color-primary-dark: #e9b9352f;

    --color-bg-primary: #fff9ea;
    --color-bg-secondary: #f5f5f5;
    --color-bg-tertiary: #e5e5e5;

    --color-text-primary: #1a1a1a;
    --color-text-secondary: #6d6d6d;
    --color-text-tertiary: #919191;

    --color-border-primary: #d4d4d4;
    --color-border-secondary: #a3a3a3;

    /* Borders */
    --border-radius: 16px;
}

/* Dark mode (system preference) */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #e9b935;
        --color-primary-dark: #e9b9352f;

        --color-bg-primary: #110a04;
        --color-bg-secondary: #1d1d1d;
        --color-bg-tertiary: #313131;

        --color-text-primary: #ffffff;
        --color-text-secondary: #919191;
        --color-text-tertiary: #6d6d6d;

        --color-border-primary: #383838;
        --color-border-secondary: #6D6D6D;
    }
}

html,
body {
    font-family: var(--font-primary), sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}

.main-title {
    @apply text-3xl font-bold m-4;
}

h2 {
    @apply text-2xl font-semibold;
}

p {
    color: var(--color-text-secondary);
}

.primary-button {
    border-radius: var(--border-radius);
    color: black;
    background-color: var(--color-primary);
    @apply font-bold py-4 px-4 hover:bg-[var(--color-primary-dark)] hover:text-[var(--color-primary)] w-full flex justify-center items-center gap-2 text-lg;
}

.secondary-button {
    border-radius: var(--border-radius);
    color: var(--color-primary);
    background-color: var(--color-primary-dark);
    border: 2px solid var(--color-primary);
    @apply font-bold py-4 px-4 hover:bg-[var(--color-primary)] hover:text-black w-full flex justify-center items-center gap-2 text-lg;
}

.tertiary-button {
    border-radius: var(--border-radius);
    color: var(--color-text-primary);
    background-color: var(--color-bg-tertiary);
    border: 1px solid var(--color-border-secondary);
    @apply font-bold py-4 px-4 hover:bg-[var(--color-border-primary)] hover:text-white w-full flex justify-center items-center gap-2 text-lg;
}

.delete-button {
    border-radius: var(--border-radius);
    color: #B40707;
    background-color: transparent;
    border: 2px solid #B40707;
    @apply font-bold py-4 px-4 hover:bg-[#B40707] hover:text-white w-full flex justify-center items-center gap-2 text-lg;
}

.main-card {
    border-radius: var(--border-radius);
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border-primary);
    color: var(--color-text-primary);
    @apply p-4;
}

.add-item-btn {
    border-radius: var(--border-radius);
    color: var(--color-primary);
    border: 2px dashed var(--color-primary);
    @apply font-bold py-4 px-4 hover:bg-[var(--color-primary)] hover:text-black w-full flex justify-center items-center gap-2 text-lg;
}

.bottom-menu {
    background-color: #181513;
    border-top: 1px solid var(--color-border-secondary);
}

.modal-content {
    background-color: #171101;
    border: 1px solid #705818;
    border-radius: var(--border-radius);
}