@import "tailwindcss";

:root {
    /* Colors */
    --color-primary: #e9b935;
    --color-primary-dark: #e9b9352f;

    --color-bg-primary: #110a04;
    --color-bg-secondary: #1d1d1d;
    --color-bg-tertiary: #313131;

    --color-text-primary: #ffffff;
    --color-text-secondary: #919191;
    --color-text-tertiary: #6d6d6d;

    --color-border-primary: #383838;
    --color-border-secondary: #6d6d6d;

    /* Borders */
    --border-radius: 12px;
}

html,
body {
    font-family: var(--font-primary), sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}

.main-title {
    @apply text-3xl font-bold m-4;
    color: var(--color-primary);
}

h2 {
    @apply text-2xl font-semibold;
}

p {
    color: var(--color-text-secondary);
}

.primary-button {
    border-radius: var(--border-radius);
    color: black;
    background-color: var(--color-primary);
    @apply font-bold py-4 px-4 hover:bg-[var(--color-primary-dark)] hover:text-[var(--color-primary)] w-full flex justify-center items-center gap-2 text-lg active:bg-[var(--color-primary-dark)] active:text-[var(--color-primary)];
}

.secondary-button {
    border-radius: var(--border-radius);
    color: var(--color-primary);
    background-color: var(--color-primary-dark);
    border: 2px solid var(--color-primary);
    @apply font-bold py-4 px-4 hover:bg-[var(--color-primary)] hover:text-black w-full flex justify-center items-center gap-2 text-lg active:bg-[var(--color-primary)] active:text-black;
}

.tertiary-button {
    border-radius: var(--border-radius);
    color: var(--color-text-primary);
    background-color: var(--color-bg-tertiary);
    border: 1px solid var(--color-border-secondary);
    @apply font-bold py-4 px-4 hover:bg-[var(--color-border-primary)] hover:text-white w-full flex justify-center items-center gap-2 text-lg active:bg-[var(--color-border-secondary)];
}

.delete-button {
    border-radius: var(--border-radius);
    color: #b40707;
    background-color: transparent;
    border: 2px solid #b40707;
    @apply font-bold py-4 px-4 hover:bg-[#B40707] hover:text-white w-full flex justify-center items-center gap-2 text-lg active:bg-[#B40707] active:text-white;
}

.main-card {
    border-radius: var(--border-radius);
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border-primary);
    color: var(--color-text-primary);
    @apply p-4;
}

.add-item-btn {
    border-radius: var(--border-radius);
    color: var(--color-primary);
    border: 2px dashed var(--color-primary);
    @apply font-bold py-4 px-4 hover:bg-[var(--color-primary)] hover:text-black w-full flex justify-center items-center gap-2 text-lg active:bg-[var(--color-primary)] active:text-black;
}

.bottom-menu {
    background-color: #181513;
    border-top: 1px solid var(--color-border-secondary);
}

.modal-content {
    background-color: #171101;
    border: 1px solid #705818;
    border-radius: var(--border-radius);
}

.loading-skeleton {
    background-color: #252525;
    @apply animate-pulse;
}

.inner-loading-skeleton {
    background-color: #2c2c2c;
    @apply animate-pulse;
}

.primary-button-loading {
    border-radius: var(--border-radius);
    color: black;
    background-color: #e9b93568;
    @apply font-bold py-4 px-4 w-full flex justify-center items-center gap-2 text-lg;
}

.tertiary-button-loading {
    border-radius: var(--border-radius);
    color: var(--color-text-secondary);
    background-color: #31313168;
    border: 1px solid var(--color-border-secondary);
    @apply font-bold py-4 px-4 w-full flex justify-center items-center gap-2 text-lg;
}

.input-field {
    border-radius: 8px;
    border: 1px solid var(--color-border-primary);
    color: var(--color-text-primary);
    @apply py-2 px-4 w-full focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)] focus:border-transparent;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
